<div class="wrapper">

<h1 class="header1"> Your Profile page </h1>

<div class="profile-cards">
  <% current_user.bookings.each do |booking| %>
  <% if booking.car.photo? %>
  <% photo = cl_image_path booking.car.photo %>
  <% else %>
  <% photo = image_path "car_copy.jpg" %>
  <% end %>
    <div class="profile-card">
      <div class="car-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= photo %>);">
        <div class="price">
          <span>£<%= booking.car.rental_rate %></span>

        </div>
      </div>
      <div class="car-info">
        <h2>Contratulations!</h2>
        <p>You've booked <%= booking.car.make %></p>
        <p><%= booking.start_date %> - <%= booking.end_date %></p>
        <%= link_to "Pick up your car here", "#" %>
      </div>
    </div>


  <% end %>
</div>
