<div class="container">
  <div class="links-to-pages">

  </div>
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-xs-4">
        <% if car.photo? %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path car.photo %>);">
          </div>
        <% else %>

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/djwbd5qpi/image/upload/v1527160841/jfdqpr20so53d3m196qr.jpg');">
        <% end %>

          <div class="card-category">£<%= car.rental_rate %>

          </div>
          <div class="card-description">
            <h2><%= car.make %></h2>
            <p><%= car.description %></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <%= link_to '', car_path(car), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


