
<div class="index-container">
  <div class="row">
    <% @cars.each do |car| %>
    <div class="col-xs-4">
      <%= link_to car_path(car) do %>
        <% if car.photo != nil %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path car.photo %>);">
        <% else %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
        <% end %>
          <div class="card-category"></div>
          <div class="card-description">
            <p>£<%= car.rental_rate %></p>
            <p><%= car.make %></p>
            <p><%= car.description %></p>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>




