<div class="container">
  <%= link_to 'New Car', new_car_path %>
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-xs-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">£<%= car.rental_rate %></div>
          <div class="card-description">
            <h2><%= car.make %></h2>
            <p><%= car.description %></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <%= link_to '', car_path(car), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

